<footer>
    <div class="container">
        <p>&copy; 2024 AIO Downloader </p>
        <p>Developed by: <a href="https://github.com/oleksandrdanylyshyn">Oleksandr Danylyshyn</a></p>
    </div>
</footer>