<header>
    <div class="container">
        <h1><a href="/">AIO Downloader</a></h1>
        <nav>
            <ul>
                <li><a href="/instagram">Instagram</a></li>
                <li><a href="/facebook">Facebook</a></li>
                <li><a href="/pinterest">Pinterest</a></li>
                <li><a href="/twitter">Twitter</a></li>
                <li><a href="/tiktok">TikTok</a></li>
                <li><a href="/reddit">Reddit</a></li>
                <li><a href="/linkedin">LinkedIn</a></li>
            </ul>
        </nav>
    </div>
</header>
